*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

.header{
    width: 100%;
    height: 100px;
    margin: 0px;
    /* border: 2px solid black; */
    background-color: rgb(180, 205, 218);
z-index: 5;
}
.vilogo{
    width: 80px;
    height: 80px;
    margin: 10px;
    float: left;

}
.n{
    border: 1px solid grey;
    float: right;
    margin: 10px;
}

.n ul li{
    
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;
    border-radius: 25px;
    display: inline-block;
    margin: 20px 10px;
    font-size: 20px;
    text-decoration-line: none;
    text-transform: capitalize;
    

}
.n ul li a{
    padding: 10px;
    color: crimson;

}
.n ul li a:hover{
    color: white;
    font-size: 15px;
}

#text{
    font-size: 18px;
    border-radius: 100px;
    height: 30px;
    width: 200px;
}

body{
    background-color: burlywood;
    
}
.lh{
    border: 1px ridge green;
    font-size: 18px;
    font-family: 'Times New Roman';
    color: aliceblue;
    background-color: darkblue;
    border-radius: 25px;

}
.main{
    border-radius: 25px;
    width: 400px;
    border: 1px solid black;
    text-align: center;
    padding: 50px;
    position: relative;
    top: 100px;
    left: 50px;
    opacity: 0.8;
    box-sizing: border-box;
    background-color: lightcyan;
}
.epb{
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    font-family: Arial;
    font-style: italic;
    
}
.epb input{
    border-radius: 25px;
    font-size: 20px;
    width: 200px;
}
.btn{
    font-size: 20px;
    
}
